@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
tr {
    border-bottom: solid 1px #ccc;
}
tr th {
    text-align: center;
    font-size: unset;
}
tr:hover{
    background: #c0c0c0
}
    .headerr {
        font-weight: bold;
        font-size: 16px;
        background: #3c8dbc;
        color: #FFF;
        line-height: 32px;
    }
.formm{
    padding: 20px
}
input .list {
    width: 20px;
    height: 20px
}
.text-left{
    padding-left: 15px;
    width: 10%
}

label {
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 16px;
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    right: 9000px;
}

    /*Check box*/
    input[type="checkbox"] + .label-text:before {
        content: "\f096";
        font-family: "FontAwesome";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        width: 1em;
        display: inline-block;
        margin-right: 5px;
    }

    input[type="checkbox"]:checked + .label-text:before {
        content: "\f14a";
        color: #2980b9;
        animation: effect 250ms ease-in;
    }

    input[type="checkbox"]:disabled + .label-text {
        color: #aaa;
    }

        input[type="checkbox"]:disabled + .label-text:before {
            content: "\f0c8";
            color: #ccc;
        }

    /*Radio box*/

    input[type="radio"] + .label-text:before {
        content: "\f10c";
        font-family: "FontAwesome";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        width: 1em;
        display: inline-block;
        margin-right: 5px;
    }

    input[type="radio"]:checked + .label-text:before {
        content: "\f192";
        color: #8e44ad;
        animation: effect 250ms ease-in;
    }

    input[type="radio"]:disabled + .label-text {
        color: #aaa;
    }

        input[type="radio"]:disabled + .label-text:before {
            content: "\f111";
            color: #ccc;
        }

/*Radio Toggle*/

.toggle input[type="radio"] + .label-text:before {
    content: "\f204";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 10px;
}

.toggle input[type="radio"]:checked + .label-text:before {
    content: "\f205";
    color: #16a085;
    animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled + .label-text {
    color: #aaa;
}

    .toggle input[type="radio"]:disabled + .label-text:before {
        content: "\f204";
        color: #ccc;
    }


@keyframes effect {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}
