<div id="error-msgbox-modal" class="modal alert-modal-container" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-content alert-modal">
        <div class="modal-body">
            <div class="error-modal-wrap">
                <div class="modal-inner">
                    <div class="modal-body-header"> Error </div>
                    <div class="modal-body-content delete-modal-height">
                        <span id="error-msg"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer alert-modal-btn msgbox-error-btn">
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><span class="OpenSans">Đồng ý</span></button>
        </div>
    </div>
</div>