<div id="delete-msgbox-modal" class="modal alert-modal-container" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-content alert-modal">
        <div class="modal-body">
            <div class="modal-wrap">
                <div class="modal-inner">
                    <div class="modal-body-header"> Delete employee </div>
                    <div class="modal-body-content delete-modal-height ">
                        <span>Are you sure to delete this employee?</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer alert-modal-btn msgbox-delete-btn">
            <button type="button" class="btn btn-delete" data-dismiss="modal" id="btn-delete"><span class="OpenSans">Đồng ý</span></button>
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><span class="OpenSans">Hủy bỏ</span></button>
        </div>
    </div>
</div>