create database noitha22_TestingSystemGDP
go
USE [noitha22_TestingSystemGDP]
GO
/****** Object:  User [gdp]    Script Date: 4/4/2019 9:22:16 AM ******/
CREATE USER [gdp] FOR LOGIN [gdp] WITH DEFAULT_SCHEMA=[gdp]
GO
/****** Object:  User [noithatg86]    Script Date: 4/4/2019 9:22:16 AM ******/
CREATE USER [noithatg86] FOR LOGIN [noithatg86] WITH DEFAULT_SCHEMA=[noithatg86]
GO
/****** Object:  User [theanhnb97]    Script Date: 4/4/2019 9:22:16 AM ******/
CREATE USER [theanhnb97] FOR LOGIN [theanhnb97] WITH DEFAULT_SCHEMA=[theanhnb97]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [gdp]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [gdp]
GO
ALTER ROLE [db_datareader] ADD MEMBER [gdp]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [gdp]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [noithatg86]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [noithatg86]
GO
ALTER ROLE [db_datareader] ADD MEMBER [noithatg86]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [noithatg86]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [theanhnb97]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [theanhnb97]
GO
ALTER ROLE [db_datareader] ADD MEMBER [theanhnb97]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [theanhnb97]
GO
/****** Object:  Schema [gdp]    Script Date: 4/4/2019 9:22:16 AM ******/
CREATE SCHEMA [gdp]
GO
/****** Object:  Schema [noithatg86]    Script Date: 4/4/2019 9:22:16 AM ******/
CREATE SCHEMA [noithatg86]
GO
/****** Object:  Schema [theanhnb97]    Script Date: 4/4/2019 9:22:16 AM ******/
CREATE SCHEMA [theanhnb97]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/4/2019 9:22:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[ActionId] [int] IDENTITY(1,1) NOT NULL,
	[ActionName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Actions] PRIMARY KEY CLUSTERED 
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[AnswerContent] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Answers] PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[CandidateID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Candidates] PRIMARY KEY CLUSTERED 
(
	[CandidateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidatesTests]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidatesTests](
	[CandidatesTestID] [int] IDENTITY(1,1) NOT NULL,
	[TestID] [int] NOT NULL,
	[CandidateID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CandidatesTests] PRIMARY KEY CLUSTERED 
(
	[CandidatesTestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamPaperQuesions]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamPaperQuesions](
	[ExamPaperQuesionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[ExamPaperID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ExamPaperQuesions] PRIMARY KEY CLUSTERED 
(
	[ExamPaperQuesionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamPapers]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamPapers](
	[ExamPaperID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Time] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[NumberOfQuestion] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.ExamPapers] PRIMARY KEY CLUSTERED 
(
	[ExamPaperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ExamCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Exams] PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamTests]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTests](
	[ExamTestID] [int] IDENTITY(1,1) NOT NULL,
	[ExamID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ExamTests] PRIMARY KEY CLUSTERED 
(
	[ExamTestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Groups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionCategories]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.QuestionCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleActions]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleActions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
	[IsTrue] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.RoleActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResults]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResults](
	[TestResultID] [int] IDENTITY(1,1) NOT NULL,
	[TestID] [int] NOT NULL,
	[CandidateID] [int] NOT NULL,
	[TestName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Score] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[AnswerID] [int] NOT NULL,
	[Turns] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TestResults] PRIMARY KEY CLUSTERED 
(
	[TestResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 4/4/2019 9:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[ExamPaperID] [int] NOT NULL,
	[TestName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[PassingScore] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Tests] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroups]    Script Date: 4/4/2019 9:22:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[IsManager] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/4/2019 9:22:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Avatar] [nvarchar](200) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actions] ON 

INSERT [dbo].[Actions] ([ActionId], [ActionName], [Description]) VALUES (27, N'LoginAdminLayout', N'Đăng nhập vào trang quản trị viên....')
INSERT [dbo].[Actions] ([ActionId], [ActionName], [Description]) VALUES (715, N'ActionDelete', N'Xoá một thao tác')
INSERT [dbo].[Actions] ([ActionId], [ActionName], [Description]) VALUES (716, N'ActionDeleteMutil', N'Xoá nhiều thao tác')
SET IDENTITY_INSERT [dbo].[Actions] OFF
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AnswerID], [IsCorrect], [QuestionID], [AnswerContent]) VALUES (579, 1, 335, N'add recrd')
INSERT [dbo].[Answers] ([AnswerID], [IsCorrect], [QuestionID], [AnswerContent]) VALUES (580, 0, 335, N'add ito')
INSERT [dbo].[Answers] ([AnswerID], [IsCorrect], [QuestionID], [AnswerContent]) VALUES (581, 0, 335, N'insert')
GO
SET IDENTITY_INSERT [dbo].[Answers] OFF
INSERT [dbo].[Candidates] ([CandidateID]) VALUES (1)
INSERT [dbo].[Candidates] ([CandidateID]) VALUES (72)
INSERT [dbo].[Candidates] ([CandidateID]) VALUES (107)
SET IDENTITY_INSERT [dbo].[CandidatesTests] ON 

INSERT [dbo].[CandidatesTests] ([CandidatesTestID], [TestID], [CandidateID]) VALUES (50, 26, 114)
INSERT [dbo].[CandidatesTests] ([CandidatesTestID], [TestID], [CandidateID]) VALUES (51, 26, 120)
INSERT [dbo].[CandidatesTests] ([CandidatesTestID], [TestID], [CandidateID]) VALUES (52, 26, 134)
SET IDENTITY_INSERT [dbo].[CandidatesTests] OFF
SET IDENTITY_INSERT [dbo].[ExamPaperQuesions] ON 

INSERT [dbo].[ExamPaperQuesions] ([ExamPaperQuesionID], [QuestionID], [ExamPaperID]) VALUES (142, 488, 67)
INSERT [dbo].[ExamPaperQuesions] ([ExamPaperQuesionID], [QuestionID], [ExamPaperID]) VALUES (143, 489, 67)
INSERT [dbo].[ExamPaperQuesions] ([ExamPaperQuesionID], [QuestionID], [ExamPaperID]) VALUES (144, 490, 67)
GO
SET IDENTITY_INSERT [dbo].[ExamPaperQuesions] OFF
SET IDENTITY_INSERT [dbo].[ExamPapers] ON 

INSERT [dbo].[ExamPapers] ([ExamPaperID], [Title], [Time], [Status], [NumberOfQuestion], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (64, N'Excel bacic for new member', 15, 1, 43, 1, 1, CAST(N'2019-03-07T10:52:44.930' AS DateTime), 1, CAST(N'2019-04-01T11:04:30.933' AS DateTime))
INSERT [dbo].[ExamPapers] ([ExamPaperID], [Title], [Time], [Status], [NumberOfQuestion], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (65, N'Fresher .Net global passport developer', 1, 1, 20, 1, 1, CAST(N'2019-03-07T15:06:22.833' AS DateTime), 1, CAST(N'2019-04-01T12:00:51.287' AS DateTime))
INSERT [dbo].[ExamPapers] ([ExamPaperID], [Title], [Time], [Status], [NumberOfQuestion], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (67, N'Fresher Java global passport developer', 1, 1, 8, 1, 1, CAST(N'2019-03-08T13:40:31.877' AS DateTime), 129, CAST(N'2019-03-25T13:56:40.983' AS DateTime))
SET IDENTITY_INSERT [dbo].[ExamPapers] OFF
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([ExamID], [ExamName], [Description], [CreateDate], [StartDate], [EndDate], [Status], [ExamCode]) VALUES (1, N'Kì thi lâp trình 2018', N'Everytime I get a call from that area code I know it is either a wrong number or a spam call. I never answer any calls from that area code.ttt', CAST(N'2018-02-02T00:00:00.000' AS DateTime), CAST(N'2019-04-05T00:00:00.000' AS DateTime), CAST(N'2018-05-12T00:00:00.000' AS DateTime), 1, N'a9e6f945-59a7-416f-b353-c3baa7e4b8b4e')
INSERT [dbo].[Exams] ([ExamID], [ExamName], [Description], [CreateDate], [StartDate], [EndDate], [Status], [ExamCode]) VALUES (9, N'Kì thi lâp trình java', N'Everytime I get a call from that area code I know it is either a wrong number or a spam call. I never answer any calls from that area code.', CAST(N'2019-02-19T00:00:00.000' AS DateTime), CAST(N'2019-02-01T00:00:00.000' AS DateTime), CAST(N'2019-02-09T00:00:00.000' AS DateTime), 1, N'a9e6f945-59a7-416f-b353-ccb57e4b8b4e')
INSERT [dbo].[Exams] ([ExamID], [ExamName], [Description], [CreateDate], [StartDate], [EndDate], [Status], [ExamCode]) VALUES (1009, N'Angular JS', N'Ahhh I was thinking this goddamn you. However to really be the Globe Trotters they would have to embarrass a black table tennis team while playing.', CAST(N'2019-03-21T10:24:58.097' AS DateTime), CAST(N'2019-03-22T00:00:00.000' AS DateTime), CAST(N'2019-03-28T00:00:00.000' AS DateTime), 1, N'a9e6f945-59a7-416f-b353-kkb57e4b8b4e')
SET IDENTITY_INSERT [dbo].[Exams] OFF
SET IDENTITY_INSERT [dbo].[ExamTests] ON 

INSERT [dbo].[ExamTests] ([ExamTestID], [ExamID], [TestID]) VALUES (135, 9, 26)
INSERT [dbo].[ExamTests] ([ExamTestID], [ExamID], [TestID]) VALUES (136, 9, 27)
INSERT [dbo].[ExamTests] ([ExamTestID], [ExamID], [TestID]) VALUES (137, 9, 38)
SET IDENTITY_INSERT [dbo].[ExamTests] OFF
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([GroupId], [GroupName], [CreatedDate], [UpdatedDate], [Description]) VALUES (52, N'Group 2', CAST(N'2019-03-04T08:52:10.000' AS DateTime), CAST(N'2019-03-12T08:31:35.773' AS DateTime), N'Description Group 2')
INSERT [dbo].[Groups] ([GroupId], [GroupName], [CreatedDate], [UpdatedDate], [Description]) VALUES (59, N'Group 3', CAST(N'2019-03-05T13:15:52.563' AS DateTime), CAST(N'2019-03-05T13:15:52.563' AS DateTime), N'Description Group 3')
INSERT [dbo].[Groups] ([GroupId], [GroupName], [CreatedDate], [UpdatedDate], [Description]) VALUES (73, N'Group 6', CAST(N'2019-03-11T13:24:00.000' AS DateTime), CAST(N'2019-03-11T13:26:31.803' AS DateTime), N'Description Group 5')
SET IDENTITY_INSERT [dbo].[Groups] OFF
SET IDENTITY_INSERT [dbo].[QuestionCategories] ON 

INSERT [dbo].[QuestionCategories] ([CategoryID], [Name], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (149, N'HTML', 1, 1, CAST(N'2019-03-12T07:45:17.577' AS DateTime), 1, CAST(N'2019-03-12T07:45:17.577' AS DateTime))
INSERT [dbo].[QuestionCategories] ([CategoryID], [Name], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (154, N'SQL', 1, 108, CAST(N'2019-03-12T09:02:53.727' AS DateTime), 108, CAST(N'2019-03-12T09:02:53.727' AS DateTime))
INSERT [dbo].[QuestionCategories] ([CategoryID], [Name], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (159, N'Another', 0, 1, CAST(N'2019-03-06T15:49:30.793' AS DateTime), 1, CAST(N'2019-03-06T15:49:30.793' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuestionCategories] OFF
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [Content], [Image], [Level], [CategoryID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (335, N'Câu lệnh SQL nào được dùng để chèn thêm dữ liệu vào database:', NULL, 1, 149, 1, 1, CAST(N'2019-03-06T12:37:20.377' AS DateTime), 1, CAST(N'2019-03-06T12:37:20.377' AS DateTime))
INSERT [dbo].[Questions] ([QuestionID], [Content], [Image], [Level], [CategoryID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (336, N'SQL là từ viết tắt của:', NULL, 1, 149, 1, 1, CAST(N'2019-03-06T12:38:43.683' AS DateTime), 1, CAST(N'2019-03-06T12:38:43.683' AS DateTime))
INSERT [dbo].[Questions] ([QuestionID], [Content], [Image], [Level], [CategoryID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (350, N' Trong SQL, làm thế nào để chọn tất cả các bản ghi từ bảng Persons với giá trị trong cột FirstName bắt đầu bằng giá trị a:', NULL, 2, 149, 1, 1, CAST(N'2019-03-06T13:07:57.933' AS DateTime), 1, CAST(N'2019-03-06T13:07:57.933' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
SET IDENTITY_INSERT [dbo].[RoleActions] ON 

INSERT [dbo].[RoleActions] ([Id], [RoleId], [ActionId], [IsTrue]) VALUES (104, 1, 27, 1)
INSERT [dbo].[RoleActions] ([Id], [RoleId], [ActionId], [IsTrue]) VALUES (105, 2, 27, 1)
INSERT [dbo].[RoleActions] ([Id], [RoleId], [ActionId], [IsTrue]) VALUES (106, 3, 27, 0)
GO
SET IDENTITY_INSERT [dbo].[RoleActions] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', N'admin1')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (2, N'Manager ', N'manager')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (3, N'Member', N'member')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[TestResults] ON 

INSERT [dbo].[TestResults] ([TestResultID], [TestID], [CandidateID], [TestName], [Description], [CreatedDate], [Score], [QuestionID], [AnswerID], [Turns]) VALUES (2214, 21, 114, N'Fresher .Net global passport developer', N'description note', CAST(N'2019-04-03T06:38:44.377' AS DateTime), 1, 494, 1124, 1)
INSERT [dbo].[TestResults] ([TestResultID], [TestID], [CandidateID], [TestName], [Description], [CreatedDate], [Score], [QuestionID], [AnswerID], [Turns]) VALUES (2215, 21, 114, N'Fresher .Net global passport developer', N'description note', CAST(N'2019-04-03T06:38:44.503' AS DateTime), 1, 488, -1, 1)
INSERT [dbo].[TestResults] ([TestResultID], [TestID], [CandidateID], [TestName], [Description], [CreatedDate], [Score], [QuestionID], [AnswerID], [Turns]) VALUES (2216, 21, 114, N'Fresher .Net global passport developer', N'description note', CAST(N'2019-04-03T06:38:44.593' AS DateTime), 1, 489, -1, 1)
SET IDENTITY_INSERT [dbo].[TestResults] OFF
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([TestID], [ExamPaperID], [TestName], [Description], [CreateDate], [PassingScore], [Status], [IsActive], [StartDate], [EndDate], [CreatedBy], [ModifiedBy], [ModifiedDate]) VALUES (21, 65, N'Bài thi tiếng anh cho nhân viên mới.', N'Bai thi cua be LVCDuc', CAST(N'2019-03-26T17:37:07.803' AS DateTime), N'90', 1, 1, CAST(N'2019-03-11T00:00:00.000' AS DateTime), CAST(N'2019-03-12T00:00:00.000' AS DateTime), 1, 1, CAST(N'2019-03-27T14:46:08.723' AS DateTime))
INSERT [dbo].[Tests] ([TestID], [ExamPaperID], [TestName], [Description], [CreateDate], [PassingScore], [Status], [IsActive], [StartDate], [EndDate], [CreatedBy], [ModifiedBy], [ModifiedDate]) VALUES (26, 65, N'Bài thi cho cán bộ cấp huyện.', N'good', CAST(N'2019-03-28T11:30:26.843' AS DateTime), N'50', 0, 1, CAST(N'2019-03-09T00:00:00.000' AS DateTime), CAST(N'2019-03-09T00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Tests] ([TestID], [ExamPaperID], [TestName], [Description], [CreateDate], [PassingScore], [Status], [IsActive], [StartDate], [EndDate], [CreatedBy], [ModifiedBy], [ModifiedDate]) VALUES (27, 110, N'Bài thi Python 2x', N'good', CAST(N'2019-03-28T13:53:44.977' AS DateTime), N'90', 1, 1, CAST(N'2019-03-09T00:00:00.000' AS DateTime), CAST(N'2019-03-15T00:00:00.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tests] OFF
SET IDENTITY_INSERT [dbo].[UserGroups] ON 

INSERT [dbo].[UserGroups] ([Id], [UserId], [GroupId], [IsManager]) VALUES (136, 107, 52, 1)
INSERT [dbo].[UserGroups] ([Id], [UserId], [GroupId], [IsManager]) VALUES (143, 120, 52, 1)
INSERT [dbo].[UserGroups] ([Id], [UserId], [GroupId], [IsManager]) VALUES (144, 129, 52, 1)
SET IDENTITY_INSERT [dbo].[UserGroups] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [RoleId], [UserName], [Password], [CreatedDate], [UpdatedDate], [Status], [Name], [Phone], [Email], [Address], [Avatar], [Note]) VALUES (1, 1, N'admin', N'21232f297a57a5a743894a0e4a801fc3', CAST(N'1997-01-01T00:00:00.000' AS DateTime), CAST(N'1996-01-01T00:00:00.000' AS DateTime), 1, N'Admin', N'', N'admin@admin.com', N'123', N'123', N'123')
INSERT [dbo].[Users] ([UserId], [RoleId], [UserName], [Password], [CreatedDate], [UpdatedDate], [Status], [Name], [Phone], [Email], [Address], [Avatar], [Note]) VALUES (72, 2, N'DucLuong', N'af3ad966241f702dc52a85d8800d666d', CAST(N'2019-03-04T16:23:08.773' AS DateTime), CAST(N'2019-03-04T16:23:08.773' AS DateTime), 1, N'ducluong', NULL, N'ducluongchung@gmail.com', N'Hà Nam', NULL, NULL)
INSERT [dbo].[Users] ([UserId], [RoleId], [UserName], [Password], [CreatedDate], [UpdatedDate], [Status], [Name], [Phone], [Email], [Address], [Avatar], [Note]) VALUES (107, 2, N'theanh', N'd1535f6d6223a1b91b7c5054c861a8b7', CAST(N'2019-03-07T14:32:18.320' AS DateTime), CAST(N'2019-03-11T16:53:29.823' AS DateTime), 1, N'Anh Nguyễn Thế', NULL, N'theanhnb97@gmail.com', N'Ninh Bình', N'', N'123dfdfdf')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Answers] ADD  DEFAULT ('') FOR [AnswerContent]
GO
ALTER TABLE [dbo].[TestResults] ADD  DEFAULT ((0)) FOR [Turns]
GO
ALTER TABLE [dbo].[Tests] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tests] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [StartDate]
GO
ALTER TABLE [dbo].[Tests] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [EndDate]
GO
ALTER TABLE [dbo].[Tests] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Answers_dbo.Questions_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_dbo.Answers_dbo.Questions_QuestionID]
GO
ALTER TABLE [dbo].[Candidates]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Candidates_dbo.Users_CandidateID] FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Candidates] CHECK CONSTRAINT [FK_dbo.Candidates_dbo.Users_CandidateID]
GO
ALTER TABLE [dbo].[CandidatesTests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CandidatesTests_dbo.Candidates_CandidateID] FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Candidates] ([CandidateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CandidatesTests] CHECK CONSTRAINT [FK_dbo.CandidatesTests_dbo.Candidates_CandidateID]
GO
ALTER TABLE [dbo].[CandidatesTests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CandidatesTests_dbo.Tests_TestID] FOREIGN KEY([TestID])
REFERENCES [dbo].[Tests] ([TestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CandidatesTests] CHECK CONSTRAINT [FK_dbo.CandidatesTests_dbo.Tests_TestID]
GO
ALTER TABLE [dbo].[ExamPaperQuesions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExamPaperQuesions_dbo.ExamPapers_ExamPaperID] FOREIGN KEY([ExamPaperID])
REFERENCES [dbo].[ExamPapers] ([ExamPaperID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamPaperQuesions] CHECK CONSTRAINT [FK_dbo.ExamPaperQuesions_dbo.ExamPapers_ExamPaperID]
GO
ALTER TABLE [dbo].[ExamPaperQuesions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExamPaperQuesions_dbo.Questions_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamPaperQuesions] CHECK CONSTRAINT [FK_dbo.ExamPaperQuesions_dbo.Questions_QuestionID]
GO
ALTER TABLE [dbo].[ExamPapers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExamPapers_dbo.Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ExamPapers] CHECK CONSTRAINT [FK_dbo.ExamPapers_dbo.Users_CreatedBy]
GO
ALTER TABLE [dbo].[ExamPapers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExamPapers_dbo.Users_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ExamPapers] CHECK CONSTRAINT [FK_dbo.ExamPapers_dbo.Users_ModifiedBy]
GO
ALTER TABLE [dbo].[ExamTests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExamTests_dbo.Exams_ExamID] FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamTests] CHECK CONSTRAINT [FK_dbo.ExamTests_dbo.Exams_ExamID]
GO
ALTER TABLE [dbo].[ExamTests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExamTests_dbo.Tests_TestID] FOREIGN KEY([TestID])
REFERENCES [dbo].[Tests] ([TestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamTests] CHECK CONSTRAINT [FK_dbo.ExamTests_dbo.Tests_TestID]
GO
ALTER TABLE [dbo].[QuestionCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionCategories_dbo.Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[QuestionCategories] CHECK CONSTRAINT [FK_dbo.QuestionCategories_dbo.Users_CreatedBy]
GO
ALTER TABLE [dbo].[QuestionCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionCategories_dbo.Users_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[QuestionCategories] CHECK CONSTRAINT [FK_dbo.QuestionCategories_dbo.Users_ModifiedBy]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.QuestionCategories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[QuestionCategories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.QuestionCategories_CategoryID]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Users_CreatedBy]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Users_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Users_ModifiedBy]
GO
ALTER TABLE [dbo].[RoleActions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleActions_dbo.Actions_ActionId] FOREIGN KEY([ActionId])
REFERENCES [dbo].[Actions] ([ActionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleActions] CHECK CONSTRAINT [FK_dbo.RoleActions_dbo.Actions_ActionId]
GO
ALTER TABLE [dbo].[RoleActions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleActions_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleActions] CHECK CONSTRAINT [FK_dbo.RoleActions_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestResults_dbo.Candidates_CandidateID] FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Candidates] ([CandidateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_dbo.TestResults_dbo.Candidates_CandidateID]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestResults_dbo.Tests_TestID] FOREIGN KEY([TestID])
REFERENCES [dbo].[Tests] ([TestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_dbo.TestResults_dbo.Tests_TestID]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tests_dbo.ExamPapers_ExamPaperID] FOREIGN KEY([ExamPaperID])
REFERENCES [dbo].[ExamPapers] ([ExamPaperID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_dbo.Tests_dbo.ExamPapers_ExamPaperID]
GO
ALTER TABLE [dbo].[UserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGroups_dbo.Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserGroups] CHECK CONSTRAINT [FK_dbo.UserGroups_dbo.Groups_GroupId]
GO
ALTER TABLE [dbo].[UserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGroups_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserGroups] CHECK CONSTRAINT [FK_dbo.UserGroups_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
/****** Object:  StoredProcedure [dbo].[noitha22_TestingSystemGDP]    Script Date: 4/4/2019 9:22:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[noitha22_TestingSystemGDP]
      @GroupName NVARCHAR(50)
AS
BEGIN
      SET NOCOUNT ON;
      IF NOT EXISTS(SELECT GroupName FROM Groups
                    WHERE GroupName = @GroupName)
      BEGIN
            SELECT 'TRUE'
      END
      ELSE
      BEGIN
            SELECT 'FALSE'
      END
END
GO
/****** Object:  StoredProcedure [gdp].[spAddEmployee]    Script Date: 4/4/2019 9:22:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [gdp].[spAddEmployee]  
@Name nvarchar(50),
@Gender nvarchar (10),
@City nvarchar (50),
@Salary decimal(18,2),
@DateOfBirth DateTime
As
Begin
Insert into Employee(Name, Gender, City, Salary, DateOfBirth)
Values (@Name, @Gender, @City,@Salary, @DateOfBirth)
End
GO
